@import "./global";
@import "./header";
@import "./main";
@import "./footer";

.wrapper {
    margin: 0 auto;
    max-width: 1140px;
    min-width: 320px;
    padding: 0 40px;

    @include vp-1024 {
        padding: 0 30px;
    }

    @include vp-768 {
        padding: 0;
    } 
}

